.light {
  background: var(--light-mode);
  color: var(--secondary-color);
}
.dark {
  background: var(--dark-mode);
  color: var(--primary-color);
}
.heading{
  font-size: 30px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 17px;
  /* padding: 7rem 2rem 3rem 2rem; */
  padding: 7rem 3rem;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  gap: 30px;
  font-family: "Montserrat", sans-serif;
  width: 70%;
  /* border: 1px solid white; */
  line-height: 1.9;
  background-color: whitesmoke;
  color: black;
}

@media (max-width: 980px) {
  .content {
    width: 80%;
    padding: 7rem 3rem;
    /* padding-left: 0px !important;
    padding-right: 0px !important; */
  }
}
