.footer {
  width: 100%;
  background: var(--secondary-color);
  padding: 4rem 2rem 1rem 2rem;
  color: #fcfcfc;
}
.container_footer {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: bottom;
  flex-direction: column;
  margin: 0 auto;
}

.footer_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer_content div {
  padding-bottom: 1rem;
}
.footer_heading {
  width: 100%;
  text-align: left;
}
.footer_content_heading {
  font-size: 16px;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  width: 100%;
}
.footer_content ul {
  padding-top: 1rem;
}
.footer_content div ul li {
  text-transform: capitalize;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--primary-color);
}
.term {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: bottom;
  margin-top: 3rem;
  padding-top: 1rem;
  color: var(--primary-color);
  border-top: 2px solid var(--primary-color);
}

.term div:nth-of-type(1) {
  display: flex;
}
.term div:nth-of-type(2) p {
  border: 1px solid var(--secondary-color);
  padding: 2px 10px;
  border-radius: 20px;
  letter-spacing: 1px;
  text-align: center;
  color: var(--primary-color);
  cursor: pointer;
  border: 1px solid var(--primary-color);
  transition: 0.03s 0.04s ease-in;
  background: var(--dark-mode);
}

@media (max-width: 640px) {
  .container_footer {
    max-width: 640px;
  }
  .footer_content {
    flex-wrap: nowrap;
  }
  .footer_content_heading {
    font-size: 1.5rem;
    letter-spacing: 3px;
    padding-bottom: 0.5rem;
  }
  .footer_content_heading::before {
    bottom: 2px;
  }
  .footer_content div ul {
    display: flex;
    flex-direction: column;
  }
  .footer_content div ul li {
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 1.5px;
  }
  .term {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 30px;
  }
  .term div:nth-of-type(1) {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .footer_content_heading:hover::before {
    width: 60px;
    opacity: 1;
  }
  .container_footer {
    max-width: 768px;
  }
  .footer_content {
    flex-direction: column;
  }
  .term {
    padding-bottom: 30px;
  }
  .footer {
    width: 100%;
    background: var(--secondary-color);
    padding: 4rem 1rem 1rem 1rem;
    color: #fcfcfc;
  }
}
@media (max-width: 400px) {
  .container_footer {
    width: 100%;
  }
  .footer {
    padding: 3rem 1rem 2rem 1rem !important;
    color: #fcfcfc;
  }
  .footer_content_heading {
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding-bottom: 0rem;
    line-height: 60px;
  }
  .footer_content div ul li {
    font-size: 1.257rem;
    letter-spacing: 1px;
    line-height: 35px;
  }
  .term {
    margin-top: 1.5rem;
  }
}
