.footer {
  width: 100%;
  margin: auto;
  padding: 2rem 0;
}
.dark {
  background: var(--dark-mode);
}
.light {
  background: var(--light-mode);
}

.hide {
  display: none;
}
.dark .container_footer {
  background: var(--secondary-color);
  color: var(--primary-color);
}
.light .container_footer {
  background: var(--primary-color);
  color: var(--secondary-color);
}
.container_footer {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: bottom;
  flex-direction: column;
  margin: 0 auto;
  padding: 3rem 2rem 3rem 2rem;
  border-radius: 30px;
  margin-bottom: 1rem;
}

.footer_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer_content div {
  padding-bottom: 1rem;
}
.footer_heading {
  width: 100%;
  text-align: left;
}
.footer_heading img {
  width: auto;
  height: auto;
  object-fit: contain;
}
.footer_content_heading {
  font-size: 20px;
  color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  width: 100%;
}
.light .footer_content_heading {
  color: var(--secondary-color);
}
.dark .footer_content_heading {
  color: var(--primary-color);
}
.footer_content ul {
  padding-top: 1rem;
}
.footer_content div ul li {
  text-transform: capitalize;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: 500;
}
.light .footer_content div ul li {
  color: var(--secondary-color);
}
.dark .footer_content div ul li {
  color: var(--primary-color);
}
.term {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: bottom;
  margin-top: 3rem;
  padding-top: 1rem;
  font-weight: 500;
  color: var(--primary-color);
  border-top: 2px solid var(--primary-color);
}
.light .term {
  color: var(--secondary-color);
  border-color: var(--secondary-color);
}
.dark .term {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.term div:nth-of-type(1) {
  display: flex;
}
.term div:nth-of-type(2) p {
  padding: 2px 10px;
  border-radius: 20px;
  letter-spacing: 1px;
  text-align: center;
  cursor: pointer;
  border: 1.5px solid;
  transition: 0.03s 0.04s ease-in;
  background: var(--sub-color);
  color: var(--primary-color);
}
.light .term div:nth-of-type(2) p {
  border-color: var(--secondary-color);
}
.dark .term div:nth-of-type(2) p {
  border-color: var(--primary-color);
}

@media (max-width: 640px) {
  /* .container_footer {
    max-width: 640px;
  } */
  .footer_content {
    flex-wrap: nowrap;
  }
  .footer_content_heading {
    font-size: 1.5rem;
    letter-spacing: 3px;
    padding-bottom: 0.5rem;
  }
  .footer_content_heading::before {
    bottom: 2px;
  }
  .footer_content div ul {
    display: flex;
    flex-direction: column;
  }
  .footer_content div ul li {
    text-transform: capitalize;
    font-size: 20px;
    letter-spacing: 1.5px;
  }
  .term {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 30px;
  }
  .term div:nth-of-type(1) {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .container_footer {
    width: 100%;
    padding: 0.1rem;
    border-radius: 20px;
  }
}
@media (max-width: 768px) {
  .footer_content_heading:hover::before {
    width: 60px;
    opacity: 1;
  }
  .container_footer {
    max-width: 768px;
    padding: 2rem 1rem 2rem 1rem !important;
  }
  .footer_content {
    flex-direction: column;
  }
  .term {
    padding-bottom: 30px;
  }
}
@media (max-width: 400px) {
  .container_footer {
    width: 100%;
    padding: 3rem 0.5rem 2rem 0.5rem !important;
    color: #fcfcfc;
    width: 100%;
    border-radius: 10px;
  }

  .footer_content_heading {
    font-size: 1rem;

    letter-spacing: 2px;
    line-height: 30px;
  }
  .footer_content ul {
    padding-top: 0rem;
  }
  .footer_content div ul li {
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 35px;
  }
  .term {
    margin-top: 1.5rem;
  }
}
@media (min-width: 1200px) {
  .container_footer {
    max-width: 1150px;
  }
}
