.navbar_container {
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 999;
}
.light .navbar_container {
  background: var(--primary-color);
  color: var(--secondary-color);
}
.dark .navbar_ {
  background: var(--secondary-color);
  color: var(--primary-color);
}
.navbar {
  width: 100%;
  padding: 0 1.5rem;
  height: 11vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  transition: 0.1s ease-in;
  box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
}
.light .navbar {
  background: var(--primary-color);
  color: var(--secondary-color);
}
.dark .navbar {
  background: var(--secondary-color);
  color: var(--primary-color);
}
.navbar_logo {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  justify-content: center;
  padding-left: 1rem;
}
.navbar_logo_sidemenu {
  transition: all 0.035s ease;
  cursor: pointer;
}
@media (min-width: 800px) {
  .navbar_logo_sidemenu {
    transition: all.03s ease;
    display: none;
  }
}

.navbar_logo_menu {
  font-size: 2rem !important;
  font-weight: 600;
  display: none;
  opacity: 0;
  color: var(--sub-color);
  padding-right: 0.5rem;
}
.navbar_logo_sidemenu .display {
  transition: all 23s ease;
  display: block;
  opacity: 1;
}
.navbar_logo img {
  width: auto;
  height: auto;
}
.navbar_usigned {
  display: block;
}
.navbar_usigned ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.navbar_usigned ul li {
  font-size: 16px;
  cursor: pointer;
}

.navbar_usigned ul li:nth-of-type(1) {
  padding: 0.9rem 1.5rem;
  border-radius: 5px;
  transition: all 0.03s ease-in;
}
.navbar_usigned ul li:nth-of-type(1):hover {
  background: #932a1e3c;
  text-decoration: underline;
}

.ani {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #050202;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}
.ani:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: var(--sub-color);
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}
.ani:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}
.ani a {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 0.7rem 1.5rem;
  color: #fff;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.1rem;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}
.ani:hover a {
  color: #fff;
  text-decoration: underline;
  animation: scaleUp 0.3s ease-in-out;
}
@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
.navbar_signed {
  display: block;
}
.navbar_signed ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.navbar_signed ul li:nth-of-type(1) {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  padding: 0.4357rem 0.9375rem;
  color: var(--sub-color);
  border: 1px solid var(--sub-color);
  border-radius: 5px;
  transition: all 0.3s ease;
}
.navbar_signed ul li:nth-of-type(1):hover {
  background: var(--sub-color);
  color: var(--primary-color);
  text-decoration: underline;
}

.user {
  width: 40px;
  height: 40px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid transparent;
}
.user:hover {
  border-color: var(--sub-color);
}

.image_container {
  width: 100%;
}

.image {
  object-fit: contain;
  object-position: center;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.menu {
  border: 1px solid var(--sub-color);
  position: absolute;
  top: 70px;
  right: 5px;
  width: 250px;
  height: 306px;
  border-radius: 5px;
  z-index: 99999;
  padding: 0.5rem;
}
.dark .menu {
  background-color: var(--secondary-color);
}
.light .menu {
  background-color: var(--primary-color);
}
.menu .menu_con {
  width: 100%;
}
.menu .menu_con div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  font-size: 16px;
  width: 100%;
}
.top {
  padding-bottom: 0.5rem;
}
.top a {
  display: flex;
  flex-direction: column;
  color: var(--sub-color);
  line-height: 20px;
  font-size: 17px;
  width: 100%;
  padding: 8px 16px;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.3s ease;
}
.dark .top a {
  color: var(--primary-color);
}
.light .top a {
  color: var(--secondary-color);
}
.top a span:nth-of-type(2) {
  font-size: 13px;
}
.top a:hover {
  background: #932a1e3c;
  text-decoration: underline;
  border-radius: 5px;
}

.center {
  padding: 0.5rem 0rem;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
.dark .center {
  border-color: var(--primary-color);
}
.light .center {
  border-color: var(--secondary-color);
}
.center a {
  padding: 8px 16px;
  font-size: 16px;
  transition: all 0.3s ease;
}
.center a:hover {
  background: #932a1e3c;
  text-decoration: underline;
  border-radius: 5px;
}

.bottom {
  width: 100%;
  padding: 0.5rem 0rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.bottom span {
  width: 100%;
  padding: 8px 16px;
  display: block;
  cursor: pointer;
}
.bottom span:hover {
  background: #932a1e3c;
  text-decoration: underline;
  border-radius: 5px;
}

@media (max-width: 750px) {
  .navbar_usigned ul li:nth-of-type(1) {
    display: none;
  }
  .navbar_signed ul li:nth-of-type(1) {
    display: none;
  }
  .ani a {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 0.6rem 1.2rem;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .navbar {
    padding: 0 0.7rem;
  }
}

.burger {
  font-size: 2rem;
  z-index: 999;
  cursor: pointer;
  color: var(--sub-color);
  transition: all 0.4s ease;
}
.sun {
  font-size: 1.5rem;
  z-index: 999;
  cursor: pointer;
  color: var(--primary-color);
  transition: all 0.4s ease;
}
.moon {
  font-size: 1.5rem;
  z-index: 999;
  cursor: pointer;
  color: var(--secondary-color);
  transition: all 0.4s ease;
}
@media (max-width: 500px) {
  .burger {
    font-size: 1.5rem;
  }
  .menu {
    width: 100%;
  }
  .ani a {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 0.4rem 1rem;
    color: #fff;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 0.1rem;
    z-index: 20;
    transition: all 0.3s ease-in-out;
  }
  .sun,
  .moon {
    font-size: 1.2rem;
  }
}
