.dark {
  background: var(--dark-mode);
}
.light {
  background: var(--light-mode);
}
.blog {
  display: block;
  width: 100%;
  box-shadow: 0px 5px 10px 4px rgba(0, 0, 0, 0.2);
  margin: 0.5rem 0px;
  border-radius: 6px;
  padding: 1rem;
}
.dark .blog {
  background: var(--secondary-color);
}
.light .blog {
  background: var(--primary-color);
}
.user {
  display: flex;
  align-items: center;
  gap: 5px;
  padding-bottom: 10px;
}
.user_img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  font-size: 3rem;
  object-fit: fill;
  background: #a8201a;
}
.dark .image {
  color: var(--primary-color);
}
.light .image {
  color: var(--secondary-color);
}
.user div h2 {
  /* line-height: 20px; */
  font-size: 17px !important;
  font-weight: bold;
  text-transform: capitalize;
  line-height: 15px;
  width: fit-content;
  padding: 5px 2px;
  cursor: pointer;
  transition: 1px solid;
}
.dark .user div h2 {
  color: var(--primary-color);
}
.light .blog {
  color: var(--secondary-color);
}
.user div h2:hover {
  background: #932a1e3c;
  border-radius: 5px;
  transition: all 0.003s ease-in-out;
}
.user div p:nth-of-type(1) {
  font-size: 14px;
  font-weight: 600;
  line-height: 13px;
  text-transform: capitalize;
}
.dark .user div p:nth-of-type(1) {
  color: var(--primary-color);
}
.light .user div p:nth-of-type(1) {
  color: var(--secondary-color);
}
.content {
  padding: 0 0 0 40px;
  display: block;
}
.content h1 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.3px;
  line-height: 30px;
  color: var(--primary-color);
  width: fit-content;
  cursor: pointer;
  transition: color 0.3s ease;
}
.dark .content h1 {
  color: var(--primary-color);
}
.light .content h1 {
  color: var(--secondary-color);
}
.content h1:hover {
  color: #932a1eb3;
}
.content_tag {
  padding-top: 0.8rem;
  color: var(--sub-color);
  display: flex;
  gap: 0.8rem;
}
.dark .content_tag {
  color: var(--primary-color);
}
.light .content_tag {
  color: var(--secondary-color);
}
.content_tag span {
  cursor: pointer;
}
.content_tag span {
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
.content_int div {
  display: flex;
}
.content_int {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.int_one {
  align-items: center;
  gap: 2rem;
}
.int_one div {
  align-items: center;
  gap: 0.5rem;
  background: transparent;
  padding: 5px 7px;
  border-radius: 5px;
  transition: all 0.33s ease;
  cursor: pointer;
}

.dark .react_icon {
  color: var(--primary-color);
}
.light .react_icon {
  color: var(--secondary-color);
}
.int_one div p {
  font-weight: 550;
  color: var(--primary-color);
}

/************ dark theme ***************/
.dark .int_one div p {
  color: var(--primary-color);
}
.light .int_one div p {
  color: var(--secondary-color);
}
/* ************************************** */

.int_one div:hover {
  background: #a8211a0e;
  transition: all 0.003s ease-in-out;
}
.content_int .int_two {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.int_two p {
  font-size: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
}
.dark .int_two p {
  color: var(--primary-color);
}
.light .int_one p {
  color: var(--secondary-color);
}
.int_two .save {
  line-height: 15px;
  text-align: center;
  transition: all 0.3s ease;
  color: #a8201a;
  font-size: 1rem;
  padding: 5px;
  cursor: pointer;
}
.int_two .save:hover {
  background: #932a1e3c;
  border-radius: 5px;
}
@media (max-width: 450px) {
  .blog {
    margin: 0.3rem 0.1rem;
  }
  .content_tag span {
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
  }
  .int_one {
    gap: 1rem;
  }
  .content_int .int_two {
    gap: 0.7rem;
  }
}
@media (max-width: 645px) {
  .int_one div p span {
    color: #a8201a;
    display: none !important;
  }
  .int_one div {
    gap: 0.3rem;
  }
  .content {
    padding: 0 0 0 0px;
  }
  .content_tag {
    padding-top: 0.5rem;
  }
  .content h1 {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
}
