.hero {
  height: 80vh;
  background: var(--sub-color);
}
.hero_image {
  height: 400px;
  background: #000;
  /* width: 100px; */
}
@media (min-width: 768px) {
  .hero_image {
    height: 400px;
  }
}
