.search_container {
  width: 100%;
  min-height: 100vh;
  padding: 7rem 0;
}
.dark .search_container {
  background-color: var(--dark-theme);
}
.light .search_container {
  background-color: var(--light-mode);
}
.light .containerHeaidng p,
.light .containerHeaidng ul li,
.light .category ul li {
  color: var(--secondary-color) !important;
}
.dark .containerHeaidng p,
.dark .containerHeaidng ul li,
.dark .category ul li {
  color: var(--primary-color) !important;
}
.container {
  width: 100%;
  padding: 0 1rem;
  margin-top: 7rem 0rem;
}

.containerHeaidng {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.containerHeaidng p {
  font-size: 1.2rem;
  font-weight: 600;
}
.containerHeaidng p span {
  color: var(--sub-color);
}
.containerHeaidng ul {
  display: flex;
  gap: 0.7rem;
}
.containerHeaidng ul li {
  font-size: 1rem;
  font-weight: 5000;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.containerContent {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.category {
  border: 1px solid var(--sub-color);
  width: 60%;
  position: fixed;
  top: 66px;
  left: 0px;
  background: var(--secondary-color);
  z-index: 99;
  padding: 1.5rem 0;
  transition: all 0.3s ease;
  display: none;
}
.display_cat {
  display: block;
}
.category ul {
  padding: 0 1rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.category ul li {
  font-size: 1.2rem;
}
.category ul li:hover {
  color: var(--primary-color);
  text-decoration: underline;
}
.content {
  width: 100%;
  height: 400px;
  background: var(--secondary-color);
}



@media (min-width: 750px) {
  .container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .containerHeaidng ul li {
    font-size: 1.1rem;
    font-weight: 400;
  }
  .containerHeaidng ul {
    gap: 1.5rem;
  }
  .containerHeaidng p {
    font-size: 1.6rem;
  }
  .category {
    display: block;
    position: static;
    width: unset;
    background: unset;
    border: none;
  }
  .category ul {
    padding: 0 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  }
  .category ul li {
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.4s ease-in;
  }
  .category ul li:hover {
    color: var(--primary-color);
    text-decoration: underline;
  }
  .content {
    width: 80%;
    height: 400px;
    background: var(--secondary-color);
  }
  .icon {
    display: none;
    position: unset;
    background: transparent;
  }
}
@media (max-width: 450px) {
  .containerHeaidng {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .containerHeaidng p {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .category ul li {
    font-size: 1rem;
  }
  .container {
    padding: 0 0.11rem;
  }
}
